.app{
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: darkgrey;
  justify-content: space-between;
  padding:10px;
}
.header {
  
  display: flex;
  align-items: center;
}
.logo{
  height:70px;
  width:120px;
  border-radius: 5px;
}
.heading{
  
  font-size: 25px;

  font-family: "Roboto";
}
.lists{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list{
  color:white;
  font-family: roboto;
  font-size: 23px;
  margin: 10px;
}
.below-part{
  display:flex;

}
.items-container{
  display: flex;
  flex-direction: column;
  width:15vw;
  height:100vh;
  list-style-type: none;
  overflow: scroll;
}
.item{
  display:flex;
  align-items: center;
}
.name{
  color:black;
  font-size: 15px;
  margin-left: 12px;
}
.name1{
  width:70%;
  margin-right:5px;
}
.team-item{
  display:flex;
  flex-direction: column;
}
.team-box{
  border:1px solid lightgrey;
  border-radius: 4px;
  padding:5px 5px 5px 10px;
  margin: 3px;
}
.button{
  background-color: orange;
  color:white;
  border-radius: 6px;
  border:none;
  padding:6px;
  margin-top: 10px;
}
.questions-container{
  display:flex;
  flex-direction: column;
  margin-left: 15px;
  width:50vw;

}
.side-header{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.search-container{
  margin-top: 12px;
  display: flex;
  border:1px solid lightgray;
  border-radius: 3px;
  width:50vw;
  height:25px;
  padding:8px
}
.search-icon{
  height:28px;
}
.search{
  border:none;
  background: transparent;
  color:black;
  font-size: 15px;
  width:100%;
  outline:none;
  margin-left: 20px;
}
.right-part{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-container{
  list-style-type: none;
  display:flex;

}
.card-item{
  margin-right: 12px;
  display: flex;
  height:30px;
  align-items: center;
}
.questions-list-container{
  display:flex;
  flex-direction:column;
  list-style-type: none;
  height:100vh;
  width:100vh;
  overflow:scroll;
 
padding:0;
}

.bottom-part{
  display:flex;
flex-direction: column;
justify-content: flex-start;
background-color:black;
padding:10px 12px 10px 12px;
color:white;
font-family: "Roboto";
}
@media (min-width:768px){
  .bottom-part{
    flex-direction: row;
  }
}
.image{
  height:100px;
  width:120px;
}
@media (max-width:767px){
  .image{
    display: none;
  }
}
.features-container{
  display:flex;
flex-direction: column;
justify-content: flex-start;
}
@media (min-width:768px){
  .features-container{
    flex-direction: row;
  }
}
.features{
  display: flex;
  flex-direction: column;

}
@media (min-width:768px){
  .features{
    width:300px;
  }
}
.side-heading{
  font-size: 18px;
 
}
.topics{
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (min-width:768px){
.topics{
  flex-direction: column;
}
}
.topic{
  margin: 3px;
  margin-right:5px;
  font-size: 15px;
  color:#ffffff;
  
}